{% extends 'base.html.twig' %}

{% block title %}Modification de mot de passe
{% endblock %}

{% block body %}
	<div class="overlay"></div>

	<div class="myform-container">

		<section class="changePassword">

			<div class="flextitle">
				<h1>Modifier mon mot de passe</h1>
			</div>

			{{ form_start(formChangepassword) }}
			<ul class="flex-outer">
				<li class="revert">
					<div class="ancienPwd">
						{{ form_label(formChangepassword.password, 'Ancien mot de passe: ', {'label_attr': {'class': 'myform-label'}}) }}
						{{ form_widget(formChangepassword.password, {'attr': {'class': 'myform-textinput'}}) }}
						{{ form_errors(formChangepassword.password) }}
					</div>
				</li>
				<li class="revert">
					{{ form_widget(formChangepassword.plainPassword) }}
					{{ form_errors(formChangepassword.plainPassword) }}
				</li>
				<li class="btnPos">
					{{ form_widget(formChangepassword.save, {'label': 'Envoyez !', 'attr': {'class': 'app-button cta'}}) }}
				</li>
			</li>
		</ul>
		{{ form_end(formChangepassword) }}
	</section>
</div>{% endblock %}
