{% extends 'base.html.twig' %}

{% block title %}Espace personnel
{% endblock %}

{% block edit %}{% endblock %}

{% block mainshadow %}noshadow
{% endblock %}

{% block body %}
	<div class="overlay"></div>
	<div class="myform-container">
		<section class="profil">

			{{ form_start(formUser) }}
			<div class="flextitle">
				<h1>Bienvenue dans votre espace
					{{ app.user.firstname }}
					!</h1>
			</div>

			<ul class="flex-outer">
				<li>
					<div class="li-item">
						Vous êtes
						{{ app.user.firstname }}
						{{ app.user.lastname }}
						et l'adhérent N°
						{{ app.user.idRegister }}
					</div>
				</li>

				<li>
					<div class="li-item">
						Votre pseudonyme est:
						{{ app.user.pseudo }}
					</div>
				</li>
				<li>
					<div class="li-item">
						{{ form_row(formUser.pseudo, {'label': 'Votre nouveau pseudo: '}) }}
					</div>
				</li>

				<li>
					<div class="li-item">
						Votre email est:
						{{ app.user.email }}
					</div>
				</li>
				<li>
					<div class="li-item">
						{{ form_row(formUser.email, {'label': 'Votre nouvel email: ', 'attr': {'placeholder': "ex: sophie@dupont.fr"}}) }}
					</div>
				</li>
				<li class="btnPos">
					{{ form_label(formUser.save, {'label': 'Envoyez !'}) }}
					{{ form_widget(formUser.save, {'attr': {'class': 'app-button cta'}}) }}
				</li>
			</ul>

			{{ form_end(formUser) }}
		</section>
	</div>
{% endblock %}
