{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block edit %}{% endblock %}

{% block mainshadow %}noshadow
{% endblock %}

{% block body %}
	<div class="overlay"></div>
	<div class="myform-container">
		<section class="login">
			<form method="post">

				<div class="flextitle">
					<h1>Connectez-vous</h1>
				</div>

				<ul class="flex-outer">
					<li class="revert">
						<div>
							<label for="inputEmail">Adresse mail</label>
							<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="myform-textinput" autocomplete="email" required autofocus>
						</div>
					</li>

					<li class="revert">
						<div>
							<label for="inputPassword">Mot de passe</label>
							<input type="password" name="password" id="inputPassword" class="myform-textinput" autocomplete="current-password" required>
						</div>
					</li>

					<li class="revert">
						<div>
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						</div>
					</li>

					<li class="btnPos">
						<button class="app-button cta" type="submit">
							Connexion
						</button>
					</li>
				</ul>

			</form>

			<div class="messages">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						Vous êtes connecté en tant que
						{{ app.user.username }},
						<a href="{{ path('app_logout') }}">Déconnexion</a>
					</div>
				{% endif %}
			</div>

			<p class="messages">
				<a href="{{ path('app_forgot_password_request') }}" id="mdpPerdu" title="Mot de passe perdu ?">Mot de passe perdu ?</a>
			</p>
		</section>
	</div>
{% endblock %}
