{% extends 'base.html.twig' %}

{% block title %}Création de personnage
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('assets/js/customselect.js') }}" defer></script>
{% endblock %}

{% block edit %}edit
{% endblock %}

{% block body %}
	<div class="overlay"></div>

	<div class="characterWrapper">
		<div class="myform-container">
			<div class="flextitle editTitle">
				<h1>création de personnage</h1>
			</div>
			{{ form_start(characterform) }}

			<ul class="flex-outer">
				<li>
					{{ form_label(characterform.game, 'Jeu', {'label_attr': {'class': 'myform-label'}}) }}
					<div class="custom-select" style="width:500px;">
						{{ form_widget(characterform.game, {'attr': {'class': 'myform-textinput'}}) }}
					</div>
				</li>
				<br/>
				<li>
					{{ form_label(characterform.sheet_type, 'Type de fiche', {'label_attr': {'class': 'myform-label'}}) }}
				</li>
				<li class="radioChoice">
					{{ form_widget(characterform.sheet_type[0]) }}
					{{ form_label(characterform.sheet_type[0]) }}
				</li>
				<li class="radioChoice">
					{{ form_widget(characterform.sheet_type[1]) }}
					{{ form_label(characterform.sheet_type[1]) }}
				</li>
				<br/>
				<li class="btnPos">
					{{ form_widget(characterform.submit, {'label': 'Créer', 'attr': {'class': 'app-button cta editButton'}}) }}
				</li>
				{{ form_end(characterform) }}
			</ul>
		</div>
	</div>
{% endblock %}
