{% extends 'base.html.twig' %}

{% block title %}Ajouter une compétence
{% endblock %}

{% block body %}
	<div class="overlay"></div>

	<div class="myform-container editForm">

		<div class="flextitle editTitle">
            <h1>Ajouter une compétence</h1>
		</div>

		{{ form_start(formSkill) }}
		{{ form_errors(formSkill) }}

		<ul class="flex-outer">
			<li>
				{{ form_label(formSkill.name, "Nom", {'label_attr': {'class': 'myform-label'}}) }}
				{{ form_widget(formSkill.name, {'attr': {'class': 'myform-textinput'}}) }}
				{{ form_errors(formSkill.name) }}
			</li>
			<li>
				{{ form_label(formSkill.base, "Valeur de base", {'label_attr': {'class': 'myform-label'}}) }}
				{{ form_widget(formSkill.base, {'attr': {'class': 'myform-textinput'}}) }}
				{{ form_errors(formSkill.base) }}
			</li>		
			<li class="btnPos">
				{{ form_widget(formSkill.save, {'label': 'Créer', 'attr': {'class': 'app-button cta editButton'}}) }}
			</li>
		</ul>
		{{ form_end(formSkill) }}
	</div>

{% endblock %}