{% extends 'base.html.twig' %}

{% block title %}Ah! D & Dédé
{% endblock %}

{% block edit %}{% endblock %}

{% block body %}
	<div class="overlay"></div>

	<div class="myform-container">
		<div class="flextitle editTitle">
            <h1>AJOUTER UNE COMPETENCE DE PERSONNAGE</h1>
		</div>
		{{ form_start(formSkill) }}
		{{ form_errors(formSkill) }}

		<ul class="flex-outer">
			<li>
				{{ form_label(formSkill.name, "Nom", {'label_attr': {'class': 'myform-label'}}) }}
				{{ form_widget(formSkill.name, {'attr': {'class': 'myform-textinput'}}) }}
				{{ form_errors(formSkill.name) }}
			</li>
			<li>
				{{ form_label(formSkill.base, "Base", {'label_attr': {'class': 'myform-label'}}) }}
				{{ form_widget(formSkill.base, {'attr': {'class': 'myform-textinput'}}) }}
				{{ form_errors(formSkill.base) }}
			</li>
			<li>
				{{ form_label(formSkill.equipment, "Equipment", {'label_attr': {'class': 'myform-label'}}) }}
				{{ form_widget(formSkill.equipment, {'attr': {'class': 'myform-textinput'}}) }}
				{{ form_errors(formSkill.equipment) }}
			</li>			
			<li class="btnPos">
				{{ form_widget(formSkill.save, {'label': 'Créer', 'attr': {'class': 'app-button cta editButton'}}) }}
			</li>
			{{ form_end(formSkill) }}
		</ul>
	</div>

{% endblock %}