{% extends 'base.html.twig' %}

{% block title %}Ajouter une caractéristique à un personnage
{% endblock %}

{% block body %}
	<div class="overlay"></div>

	<div class="myform-container editForm">

		<div class="flextitle editTitle">
            <h1>Ajouter une caractéristique à un personnage</h1>
		</div>

		{{ form_start(formCharacteristicCharacter) }}
		{{ form_errors(formCharacteristicCharacter) }}

		<ul class="flex-outer">
			<li>
				{{ form_label(formCharacteristicCharacter.idCharacter, "Personnage", {'label_attr': {'class': 'myform-label'}}) }}
				{{ form_widget(formCharacteristicCharacter.idCharacter, {'attr': {'class': 'myform-textinput'}}) }}
				{{ form_errors(formCharacteristicCharacter.idCharacter) }}
			</li>
			<li>
				{{ form_label(formCharacteristicCharacter.idCharacteristic, "Caractéristique", {'label_attr': {'class': 'myform-label'}}) }}
				{{ form_widget(formCharacteristicCharacter.idCharacteristic, {'attr': {'class': 'myform-textinput'}}) }}
				{{ form_errors(formCharacteristicCharacter.idCharacteristic) }}
			</li>
			<li>
				{{ form_label(formCharacteristicCharacter.valeur, "Valeur", {'label_attr': {'class': 'myform-label'}}) }}
				{{ form_widget(formCharacteristicCharacter.valeur, {'attr': {'class': 'myform-textinput'}}) }}
				{{ form_errors(formCharacteristicCharacter.valeur) }}
			</li>		
			<li class="btnPos">
				{{ form_widget(formCharacteristicCharacter.save, {'label': 'Créer', 'attr': {'class': 'app-button cta editButton'}}) }}
			</li>
		</ul>
		{{ form_end(formCharacteristicCharacter) }}
	</div>

{% endblock %}