<footer class="app-footer">
    <div class="footerlinks">
        <div class="sitemap">
            <div class="links-group">
                Aide
                <ul>
                    <li>
                        <a href="{{ path('presentation') }}">Qui sommes-nous?</a>
                    </li>
                    <li>
                        <a href="{{ path('faq') }}">F.A.Q.</a>
                    </li>
                    <li>
                        <a href="#">Nous contacter</a>
                    </li>
                </ul>
            </div>
            <div class="links-group">
                Jeux de Rôle
                <ul>
                    <li>
                        <a href="#">Jouer en ligne</a>
                    </li>
                    <li>
                        <a href="#">Nos jeux</a>
                    </li>
                </ul>
            </div>

            <div class="links-group">
                Nous suivre
                <ul>
                    <li>
                        <a href="{{ appGlobals.getAppFacebook() }}" target="_blank" rel="noopener noreferrer">{{ appGlobals.getAppFacebook() }}</a>
                    </li>
                    <li>
                        <a href="{{ appGlobals.getAppInstagram() }}" target="_blank" rel="noopener noreferrer">{{ appGlobals.getAppInstagram() }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="links-legal">
            <p>
                <a href="{{ path('legal.mentions') }}">Mentions légales</a>
                -
                <a href="{{ path('legal.tou') }}">Modalités d'utilisation</a>
            </p>
            <p>
                <a href="{{ path('legal.privacy') }}">Confidentialité et Cookies</a>
            </p>
            <br />
            <p>© {{ 'now' | date('Y') }} {{ appGlobals.getAppName() }}. Tous droits réservés.</p>
        </div>
    </div>
</footer>
