<<<<<<< HEAD
<header class="app-header">
<<<<<<< HEAD
    <a href="{{ path('home') }}" title="Retour à l'accueil" class="logo">
        Retour
    </a>


    {% set currentPath = app.request.attributes.get('_route') %}

    <nav class="app-navigation">
        <ul>
            <li>
                <a href="{{ path('home') }}" {% if currentPath == 'home' %}class="active"{% endif %}>Accueil</a>
            </li>

            {% if not app.user %}
                <li>
                    <a href="{{ path('app_login') }}" {% if currentPath == 'app_login' %}class="active"{% endif %}>Login</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('player') }}" {% if currentPath == 'player' %}class="active"{% endif %}>Montablo</a>
                </li>
                <li>
                    <a href="{{ path('app_logout') }}">Logout</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
=======
=======
<header class="app-header {% if edit is empty %}{% else %}{{ edit }}{% endif %}">
>>>>>>> c90919eaf3681e5353ed995c869d525bb6157659
	<nav class="app-navigation">
		<a href="{{ path('homepage') }}" class="nav-logo"><img src="{{ asset('assets/images/logo.png') }}" alt="Ah! D & Dédé"/></a>
		<ul class="nav-menu">
			<li class="nav-item">
				<a href="#" class="nav-link">Mes Personnages</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link">Mes Parties</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link">Mes Tables</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link">Éditer Accueil</a>
			</li>
		</ul>
		<div class="hamburger">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</div>
	</nav>
</header>
>>>>>>> 483f74d522f9b675598760ce57bf6f633aaaeb10
