{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<div class="overlay"></div>

	<section id="association">

		<div class="app-grid two">
			<div class="grid-item grid-itemLeft">
				<h2 class="assoTitle">ASSOCIATION DE JEU DE RÔLES DE GUÉRET</h2>
			</div>
			<div class="grid-item grid-itemRight">
				<a class="app-button cta" href="{{ path('association') }}" role="button">
					EN SAVOIR PLUS
				</a>
			</div>
		</div>

	</section>

	<section id="jouer">

		<section class="carousel">

			<div class="slides">
				<div class="slide">
					<img class="slide-img" src="{{ asset('assets/images/homepage/cover_add.png') }}"/>
				</div>
				<div class="slide">
					<img class="slide-img" src="{{ asset('assets/images/homepage/cover_cob.png') }}"/>
				</div>
				<div class="slide">
					<img class="slide-img" src="{{ asset('assets/images/homepage/cover_cth.png') }}"/>
				</div>
			</div>
		</section>

		<p>5 jeux disponibles actuellement!</p>
		<a class="app-button cta" href="{{ path('play') }}" role="button">
			JOUER EN LIGNE
		</a>
		
	</section>

	<section id="jeux">

		<div class="app-grid two">
			<div class="grid-item"><img src="{{ asset('assets/images/homepage/dices.png') }}" alt="set de dés de jeu de rôle"/></div>
			<div class="grid-item"><img src="{{ asset('assets/images/homepage/bookpile.png') }}" alt="livres de jeux de rôle"/></div>
		</div>
		
		<h1>
			<a class="app-button cta ctabanner" href="{{ path('games') }}" role="button">
				DÉCOUVREZ TOUS NOS JEUX
			</a>
		</h1>

	</section>
{% endblock %}
