{% extends 'base.html.twig' %}

{% block title %}Ah! D & Dédé
{% endblock %}

{% block edit %}
{% endblock %}

{% block body %}
	<div class="overlay"></div>

		<section id="association">
			<div class="app-grid two">
				<div class="grid-item grid-itemLeft">
					<h2>ASSOCIATION DE JEU DE RÔLES DE GUÉRET</h2>
				</div>
				<div class="grid-item grid-itemRight">
					<a class="app-button cta" href="{{ path('presentation') }}" role="button">
						EN SAVOIR PLUS
					</a>
				</div>
			</div>

		</section>
		<section id="jouer">
			<div class="app-grid">
				<div class="grid-item"><img src="{{ asset('assets/images/homepage/cover_add.png') }}" alt="Advanced Donjons & Dragons"/></div>
				<div class="grid-item"><img src="{{ asset('assets/images/homepage/cover_cob.png') }}" alt="Chroniques Oubliées"/></div>
				<div class="grid-item"><img src="{{ asset('assets/images/homepage/cover_cth.png') }}" alt="L'Appel de Cthulhu"/></div>
			</div>
			<p>5 jeux disponibles actuellement!</p>
			<a class="app-button cta" href="#" role="button">
				JOUER EN LIGNE
			</a>
		</section>
		<section id="jeux">
			<div class="app-grid two">
				<div class="grid-item"><img src="{{ asset('assets/images/homepage/dices.png') }}" alt="set de dés de jeu de rôle"/></div>
				<div class="grid-item"><img src="{{ asset('assets/images/homepage/bookpile.png') }}" alt="livres de jeux de rôle"/></div>
			</div>
			<a class="app-button cta" href="#" role="button">
				<h1>DÉCOUVREZ TOUS NOS JEUX</h1>
			</a>
		</section>

{% endblock %}
