{% extends 'base.html.twig' %}

{% block title %}Ajouter un jeu
{% endblock %}

{% block edit %}edit
{% endblock %}

{% block mainshadow %}noshadow{% endblock %}

{% block body %}
	<div class="overlay"></div>

	<div class="myform-container editForm">
		<div class="flextitle editTitle">
			<h1>Ajouter un jeu</h1>
		</div>
		{{ form_start(addGameForm) }}

		<ul class="flex-outer">
			<li class="revert">
				{{ form_row(addGameForm.image) }}
			</li>
			<li class="revert">
				{{ form_row(addGameForm.name) }}
			</li>
			<li class="revert">
				{{ form_row(addGameForm.version) }}
			</li>
			<li class="revert">
				{{ form_row(addGameForm.short_description) }}
			</li>
			<li class="revert">
				{{ form_row(addGameForm.description) }}
			</li>
			<li class="revert">
				<div>
					{{ form_label(addGameForm.idCategory, 'Catégorie', {'label_attr': {'class': 'myform-label'}}) }}
					{{ form_widget(addGameForm.idCategory, {'attr': {'class': 'myform-dropdown fixSelect'}}) }}
				</div>
			</li>

			<li class="revert">
				<div>
					{{ form_label(addGameForm.idGamesystem, 'Système de jeu', {'label_attr': {'class': 'myform-label'}}) }}
					{{ form_widget(addGameForm.idGamesystem, {'attr': {'class': 'myform-dropdown fixSelect'}}) }}
				</div>
			</li>
			<li class="revert">
				{{ form_row(addGameForm.gamerules) }}
			</li>
			<li class="btnPos">
				{{ form_widget(addGameForm.submit, {'label': 'Ajouter', 'attr': {'class': 'app-button cta editButton'}}) }}
			</li>
		</ul>
		{{ form_end(addGameForm) }}
	</div>

{% endblock %}
