{% extends 'base.html.twig' %}

{% block title %}Ajouter un jeu de dé
{% endblock %}

{% block edit %}edit
{% endblock %}

{% block mainshadow %}noshadow{% endblock %}

{% block body %}
	<div class="overlay"></div>

	<div class="myform-container editForm">
		<div class="flextitle editTitle">
			<h1>Ajouter un jeu de dés</h1>
		</div>
		{{ form_start(addDicesetForm) }}

		<ul class="flex-outer">

			<li class="revert">
				<div>
					{{ form_label(addDicesetForm.name) }}
					{{ form_widget(addDicesetForm.name) }}
				</div>
			</li>

			<li class="revert">
				{% for checkbox in addDicesetForm.dices %}
					<div class="diceCheckbox">
						{{ form_widget(checkbox, {'attr': {'class': 'myform-skills'}}) }}
						{{ form_label(checkbox) }}
					</div>
				{% endfor %}
			</li>

			<li class="btnPos">
				{{ form_widget(addDicesetForm.submit, {'label': 'Ajouter', 'attr': {'class': 'app-button cta editButton'}}) }}
			</li>

		</ul>
		{{ form_end(addDicesetForm) }}
	</div>
{% endblock %}
